body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/Homebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    font-family: 'Times New Roman';
}

.container {
    margin-top: 150px;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 43px;
    color: #964;
}

p {
    text-align: center;
    font-size: 37px;
    color: #fff;
}

.navbar-brand {
    font-size: 30px;
    color: #964;
}
.footerbottom {
    text-align: center;

}
.footerbottom p {
    font-size: 15px;
    color: white;
    position: relative;
    top: 580px;
}
@media screen and (max-width: 768px){
    .content-section {
        flex-direction: column;
    }
}